doctype html
html(lang="ru")
    head

        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="vote">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
        if(!status || !status.icon  || status.icon.length < 3)
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
            <link rel="icon" href="/favicon.ico" type="image/x-icon">
        meta( property="og:title" content="vote")
        <meta property="og:site_name" content="vote">
        <meta property="og:url" content="https://cib.sber.link/>
        <meta property="og:description" content=" ">

        <meta name="robots" content="noindex" />
        <meta name="format-detection" content="telephone=no">
        link(rel='stylesheet', href='/lib/reset.css')
        link(rel='stylesheet', href='/style.css')
        script.
            try{
                eval("(()=>{;;})()")
            }
            catch(e){
                document.location.href="badbrowser.html"
            }
        block head
    body
        //.backImage
        block content
