extends _layout
block head
block content
    .content#app(userid="1")
        .mainTower
            .mainGrid
                .mainSection
                    .btn(@click="addEvent()") Добавить мероприятие
                .mainSection(v-for="event in events")
                    input.mainInput(placeholder="Введите название мероприятия" v-model="event.title" v-on:change="changeEvent(event)")
                    .flex.between.mt-3
                        .btn(@click="addEvent()") Перейти к мероприятию
                        .btn(@click="addEvent()") Удалить

    script(src="/lib/vue.js")
    script(type="module").
        import SocketClass from './scripts/classes/socketClass.js'
        let socket;
        let vueApp=new Vue({
            el:"#app",
            data:{
                events:[]
            },
            methods:{
                onMessage:async function(cmd, value)
                {
                    if(cmd=="updateEvent"){
                        this.events.forEach(e=>{
                            if(e.id==value.id){
                                for(let key of Object.keys(value)){
                                console.log(key)
                                }
                            }
                        })
                    }
                },
                changeEvent: async function (event) {
                    let r = await postJson("/api/event", event)

                },
                addEvent:async function(){
                    let r=await postJson("/api/event",{userid:1})
                    this.events.unshift(r)
                    console.log(this.events)
                }
            },
            mounted:async function(){
                setTimeout(async ()=>{this.events=await getJson("/api/event");},500)
                socket=new SocketClass(this.eventid, document.getElementById("app").getAttribute("userid"), this.onMessage)

            }

        })
