extends _layout
block head
block content
    .content#app
        .mainTower
            .mainGrid
                .mainSection
                    .btn(@click="addEvent()") Добавить мероприятие
            .mainGrid(v-for="event in events") {{event.id}}

    script(src="/lib/vue.js")
    script.
        let app=new Vue({
            el:"#app",
            data:{
                events:[]
            },
            methods:{
                addEvent:async function(){
                    let r=await postJson("/api/event",{userid:1})
                    this.events.unshift(r)
                    console.log(this.events)
                }
            },
            mounted:async function(){
                this. events=await getJson("/api/event");
            }

        })
