extends _layout
block head

block content

    .content#app(eventid=id)
            .req.scroll
                .reqBox

                    if(event.isLogo)
                        .reqRow
                            .reqBoxLogo
                                img(src=event.logoUrl)
                    if(event.isTitle)
                        .reqRow
                            .reqBoxTitle #{event.title}
                    .reqRow
                        .reqBoxTitle Пожалуйста, зарегистрируйтесь
                    .reqRow
                        input.mainInput.w100(placeholder="Ваше имя" name="i")
                    if(event.isRegF)
                        .reqRow
                            input.mainInput.w100(placeholder="Фамилия" name="f")
                    if(event.isRegEmail)
                        .reqRow
                            input.mainInput.w100(placeholder="Email" name="email")
                    if(event.isRegPhone)
                        .reqRow
                            input.mainInput.w100(placeholder="Телефон" name="phone")
                    if(event.isRegCompany)
                        .reqRow
                            input.mainInput.w100(placeholder="Компания" name="company")
                    if(event.isRegPosition)
                        .reqRow
                            input.mainInput.w100(placeholder="Должность" name="position")
                    .reqRow
                        .btn.w100(style="text-align: center;") Войти



    script(src="/lib/vue.js")
    script.
        document.querySelector("input[name='i']").focus();
