extends _layout
block head

block content

    .content#app(eventid=id)

            .eventBody.scroll


                .eventRow(v-if="event.isLogo")
                    .eventLogoWr
                        .eventLogo
                            img(:src="event.logoUrl")
                .mainTower(style="margin: 0px auto;")
                    .eaSection(v-if="event.isTitle || event.isLid")
                        .eaRow
                            .mainSectionTitle(v-if="event.isTitle") {{event.title}}
                            .mainSectionText.mt-3(v-if="event.isLid") {{event.lid}}
                    .eaSection(v-if="event.isMainImg")
                        .eaRow
                            .mainImg
                                img(:src="event.mainImg" loading="lazy")
                    .eaSection(v-if="event.isDescr")
                        .eaRow
                            .mainSectionText {{event.descr}}
                    .eaSection(v-if="event.isQ")
                        .eaRow
                            include elems/event/q

                    .eaSection(v-if="event.isFooter")
                        .eaRow
                            .mainSectionText {{event.footer}}

            .eaFooter
                .mainTower
                    .eaFooterText © Event-24, ООО "Фабрика новостей" ИНН 5042092838. Поддержка и больше возможностей:
                        a(href="http://t.me/event_24_bot" target="_blank") Telegram bot @event_24_bot

    script.
        let user = null;
        let event = !{JSON.stringify(event)};
    if user
        script.
            user = !{JSON.stringify(user)};

    script(src="/lib/vue.js")
    script(src="/scripts/eventScript.js" type="module")
