extends _layout
block head

block content

    .content#app(eventid=id)
            .req
                .reqBox

                    if(event.isLogo)
                        .reqRow
                            .reqBoxLogo
                                img(src=event.logoUrl)
                    if(event.isTitle)
                        .reqRow
                            .reqBoxTitle #{event.title}
                    .reqRow
                        .reqBoxTitle Пожалуйста, зарегистрируйтесь
                    .reqRow
                        input.mainInput.w100(placeholder="Ваше имя" name="i")
                    if(event.isRegF)
                        .reqRow
                            input.mainInput.w100(placeholder="Фамилия")



    script(src="/lib/vue.js")
    script.
        document.querySelector("input[name='i']").focus();
