extends _layout
block head

block content

    .content#app(eventid=id)
            .req
                .reqBox

                    if(event.isLogo)
                        .reqRow
                            .reqBoxLogo
                                img(src=event.logoUrl)
                    if(event.isTitle)
                        .reqRow
                            .reqBoxTitle #{event.title}
                    .reqRow
                        .reqBoxTitle Пожалуйста, зарегистрируйтесь


    script(src="/lib/vue.js")
    script(src="/scripts/eventScript.js" type="module")
