extends _layout
block head

block content

    .content#app(eventid=id)
        .mainTower
            .mainGrid
                .mainSection
                .mainSection
                    .mainSectionTitle Ваши вопросы спикеру
                    .mainSectionText Здесь можно задать свой вопрос спикеру, он будет отображен у него на планшете

    script.
        let socket = new WebSocket("wss://event-24.ru/ws");
        socket.onopen = function (e) {
            console.log("open")
            socket.send(JSON.stringify({cmd:"ping"}))
        };
        socket.onerror = function (error) {
            console.log(error);
        };
        socket.onmessage =  (data)=> {
            try{
                data=JSON.parse(data);
                console.log("data")
            }
            catch (e) {
                console.warn(e)
            }
            console.log(data);
        };


