.eaRow
        .flex.beetwen.vCenter
            .eaTitleGroup.flex.between.vCenter
                .mainSectionTitle Название мероприятия
                .swith(@click="event.isTitle=!event.isTitle;changeEvent(event, 'isTitle')" v-bind:class="{active:event.isTitle}")
                    .mainSectionSwithText.On Включено, пользователи видят название
                    .mainSectionSwithText.Off Выключено, пользователи не видят название
                    .swithElem
                        .swithElemDot
                            .swithElemDotCenter
        .mt-3
            input.mainInput.w100(placeholder="Введите название мероприятия" v-model="event.title" v-on:change="changeEvent(event,'title')")
.eaRow
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Логотип
            .swith(@click="event.isLogo=!event.isLogo;changeEvent(event, 'isLogo')" v-bind:class="{active:event.isLogo}")
                .mainSectionSwithText.On Включено, пользователи видят лого
                .mainSectionSwithText.Off Выключено, пользователи не видят лого
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        .uploadBox
            input.mainInput.w100(placeholder="Введите URL логотипа" v-model="event.logoUrl" v-on:change="changeEvent(event, 'logoUrl')")
            .btn(@click="uploadFile( $event, (r)=>{event.logoUrl=r;changeEvent(event, 'logoUrl')})") Загрузить
            .progress

.eaRow
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Лид мероприятия
            .swith(@click="event.isLid=!event.isLid;changeEvent(event, 'isLid')" v-bind:class="{active:event.isLid}")
                .mainSectionSwithText.On Включено, пользователи видят лид
                .mainSectionSwithText.Off Выключено, пользователи не видят лид
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        input.mainInput.w100(placeholder="Введите лид мероприятия" v-model="event.lid" v-on:change="changeEvent(event, 'lid')")
.eaRow
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Главная картинка
            .swith(@click="event.isMainImg=!event.isMainImg;changeEvent(event, 'isMainImg')" v-bind:class="{active:event.isMainImg}")
                .mainSectionSwithText.On Включено, пользователи видят главную картинка
                .mainSectionSwithText.Off Выключено, пользователи не видят главную картинку
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        .uploadBox
            input.mainInput.w100(placeholder="Введите URL главной картинки" v-model="event.mainImg" v-on:change="changeEvent(event, 'mainImg')")
            .btn(@click="uploadFile( $event, (r)=>{event.mainImg=r;changeEvent(event, 'mainImg')})") Загрузить
            .progress

.eaRow
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Описание мероприятия
            .swith(@click="event.isDescr=!event.isDescr;changeEvent(event, 'isDescr')" v-bind:class="{active:event.isDescr}")
                .mainSectionSwithText.On Включено, пользователи видят описание
                .mainSectionSwithText.Off Выключено, пользователи не видят описание
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        textarea.mainInput.w100(placeholder="Введите описание мероприятия" v-model="event.descr" v-on:change="changeEvent(event, 'descr')")
.eaRow
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Футер мероприятия
            .swith(@click="event.isFooter=!event.isFooter;changeEvent(event, 'isFooter')" v-bind:class="{active:event.isFooter}")
                .mainSectionSwithText.On Включено, пользователи видят футер
                .mainSectionSwithText.Off Выключено, пользователи не видят футер
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        textarea.mainInput.w100(placeholder="Введите текст футера мероприятия" v-model="event.footer" v-on:change="changeEvent(event, 'footer')")
.eaRow
    .eaRowAlert Изменения вступят в силу после обновления страницы пользователя
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Регистрация
            .swith(@click="event.isReg=!event.isReg;changeEvent(event, 'isReg')" v-bind:class="{active:event.isReg}")
                .mainSectionSwithText.On Включено, пользователи регистрируются
                .mainSectionSwithText.Off Выключено, пользователи регистрируются, только когда задают вопросы
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .aeSubRow
        .swith.active()
            .mainSectionSwithText.On Cпрашивать имя пользователя, выключить нельзя
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
    .aeSubRow
        .swith(@click="event.isRegF=!event.isRegF;changeEvent(event, 'isRegF')" v-bind:class="{active:event.isRegF}")
            .mainSectionSwithText.On Cпрашивать фамилию, включено
            .mainSectionSwithText.Off Cпрашивать фамилию, выключено
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
    .aeSubRow
        .swith(@click="event.isRegEmail=!event.isRegEmail;changeEvent(event, 'isRegEmail')" v-bind:class="{active:event.isRegEmail}")
            .mainSectionSwithText.On Cпрашивать e-mail, включено
            .mainSectionSwithText.Off Cпрашивать e-mail, выключено
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
    .aeSubRow
        .swith(@click="event.isRegPhone=!event.isRegPhone;changeEvent(event, 'isRegPhone')" v-bind:class="{active:event.isRegPhone}")
            .mainSectionSwithText.On Cпрашивать телефон, включено
            .mainSectionSwithText.Off Cпрашивать телефон, выключено
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
    .aeSubRow
        .swith(@click="event.isRegCompany=!event.isRegCompany;changeEvent(event, 'isRegCompany')" v-bind:class="{active:event.isRegCompany}")
            .mainSectionSwithText.On Cпрашивать организацию, включено
            .mainSectionSwithText.Off Cпрашивать организацию, выключено
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
    .aeSubRow
        .swith(@click="event.isRegPosition=!event.isRegPosition;changeEvent(event, 'isRegPosition')" v-bind:class="{active:event.isRegPosition}")
            .mainSectionSwithText.On Cпрашивать должность, включено
            .mainSectionSwithText.Off Cпрашивать должность, выключено
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
.eaRow
    .eaRowAlert Изменения вступят в силу после обновления страницы пользователя
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Цветовая тема
    .mt-3
        .radio(v-bind:class="{active:event.isColorBlack}")
            .radioSect.Off(@click="event.isColorBlack=false;changeEvent(event, 'isColorBlack')")
                .radioDot
                    .radioDotPoint
                .radioText Светлая тема
            .radioSect.On(@click="event.isColorBlack=true;changeEvent(event, 'isColorBlack')")
                .radioDot
                    .radioDotPoint
                .radioText Темная тема
.eaRow
    .eaRowAlert Изменения вступят в силу после обновления страницы пользователя
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Фоновое изображение
            .swith(@click="event.IsBgImg=!event.IsBgImg;changeEvent(event, 'IsBgImg')" v-bind:class="{active:event.IsBgImg}")
                .mainSectionSwithText.On Включено, картинка фона ваша
                .mainSectionSwithText.Off Выключено, картика фона стандартная
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        .uploadBox
            input.mainInput.w100(placeholder="Введите URL фонового изображение" v-model="event.bgImageUrl" v-on:change="changeEvent(event, 'bgImageUrl')")
            .btn(@click="uploadFile( $event, (r)=>{event.bgImageUrl=r;changeEvent(event, 'bgImageUrl')})") Загрузить
            .progress
    .aeSubRow
        .swith(@click="event.bgImageBlur=!event.bgImageBlur;changeEvent(event, 'bgImageBlur')" v-bind:class="{active:event.bgImageBlur}")
            .mainSectionSwithText.On Фильтр размытия включен
            .mainSectionSwithText.Off Фильтр размытия выключен
            .swithElem
                .swithElemDot
                    .swithElemDotCenter
.eaRow
    .eaRowAlert Изменения вступят в силу после обновления страницы пользователя
    .flex.beetwen.vCenter
        .eaTitleGroup.flex.between.vCenter
            .mainSectionTitle Ваши стили css
            .swith(@click="event.isCss=!event.isCss;changeEvent(event, 'isCss')" v-bind:class="{active:event.isCss}")
                .mainSectionSwithText.On Включено, стили применены
                .mainSectionSwithText.Off Выключено
                .swithElem
                    .swithElemDot
                        .swithElemDotCenter
    .mt-3
        textarea.mainInput.w100(placeholder="Введите css" v-model="event.css" v-on:change="changeEvent(event, 'css')")
