.eaRow
        .flex.beetwen.vCenter
            .eaTitleGroup.flex.between.vCenter
                .mainSectionTitle Название мероприятия
                .swith
                    .mainSectionSwithTextOn Включено, пользователи видят название
                    .mainSectionSwithTextOff Выключено, пользователи не видят название
                    .swithElem
