.eaRow
        .flex.beetwen.vCenter
            .eaTitleGroup.flex.between.vCenter
                .mainSectionTitle Название мероприятия
                .swith
                    .mainSectionSwithText.On Включено, пользователи видят название
                    .mainSectionSwithText.Off Выключено, пользователи не видят название
                    .swithElem
                        .swithElemDot
