.eaRow
        .flex.beetwen.vCenter
            .eaTitleGroup.flex.between.vCenter
                .mainSectionTitle Вопросы
                .flex.right.vCenter
                    .swith(@click="event.isQ=!event.isQ;changeEvent(event, 'isQ')" v-bind:class="{active:event.isQ}")
                        .mainSectionSwithText.On Включено, пользователи могут задавать вопросы
                        .mainSectionSwithText.Off Выключено, пользователи не могут задавать вопросы
                        .swithElem
                            .swithElemDot
                                .swithElemDotCenter
                    .mainSectionSettingsWr
                        .mainSectionSettingsBtn.iconBtn(onclick="this.parentNode.classList.add('active')")
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.22 2H11.78C11.2496 2 10.7409 2.21071 10.3658 2.58579C9.99072 2.96086 9.78 3.46957 9.78 4V4.18C9.77964 4.53073 9.68706 4.87519 9.51154 5.17884C9.33602 5.48248 9.08374 5.73464 8.78 5.91L8.35 6.16C8.04596 6.33554 7.70108 6.42795 7.35 6.42795C6.99893 6.42795 6.65404 6.33554 6.35 6.16L6.2 6.08C5.74107 5.81526 5.19584 5.74344 4.684 5.88031C4.17217 6.01717 3.73555 6.35154 3.47 6.81L3.25 7.19C2.98526 7.64893 2.91345 8.19416 3.05031 8.706C3.18717 9.21783 3.52154 9.65445 3.98 9.92L4.13 10.02C4.43228 10.1945 4.68362 10.4451 4.85905 10.7468C5.03448 11.0486 5.1279 11.391 5.13 11.74V12.25C5.1314 12.6024 5.03965 12.949 4.86405 13.2545C4.68844 13.5601 4.43521 13.8138 4.13 13.99L3.98 14.08C3.52154 14.3456 3.18717 14.7822 3.05031 15.294C2.91345 15.8058 2.98526 16.3511 3.25 16.81L3.47 17.19C3.73555 17.6485 4.17217 17.9828 4.684 18.1197C5.19584 18.2566 5.74107 18.1847 6.2 17.92L6.35 17.84C6.65404 17.6645 6.99893 17.5721 7.35 17.5721C7.70108 17.5721 8.04596 17.6645 8.35 17.84L8.78 18.09C9.08374 18.2654 9.33602 18.5175 9.51154 18.8212C9.68706 19.1248 9.77964 19.4693 9.78 19.82V20C9.78 20.5304 9.99072 21.0391 10.3658 21.4142C10.7409 21.7893 11.2496 22 11.78 22H12.22C12.7504 22 13.2591 21.7893 13.6342 21.4142C14.0093 21.0391 14.22 20.5304 14.22 20V19.82C14.2204 19.4693 14.3129 19.1248 14.4885 18.8212C14.664 18.5175 14.9163 18.2654 15.22 18.09L15.65 17.84C15.954 17.6645 16.2989 17.5721 16.65 17.5721C17.0011 17.5721 17.346 17.6645 17.65 17.84L17.8 17.92C18.2589 18.1847 18.8042 18.2566 19.316 18.1197C19.8278 17.9828 20.2645 17.6485 20.53 17.19L20.75 16.8C21.0147 16.3411 21.0866 15.7958 20.9497 15.284C20.8128 14.7722 20.4785 14.3356 20.02 14.07L19.87 13.99C19.5648 13.8138 19.3116 13.5601 19.136 13.2545C18.9604 12.949 18.8686 12.6024 18.87 12.25V11.75C18.8686 11.3976 18.9604 11.051 19.136 10.7455C19.3116 10.4399 19.5648 10.1862 19.87 10.01L20.02 9.92C20.4785 9.65445 20.8128 9.21783 20.9497 8.706C21.0866 8.19416 21.0147 7.64893 20.75 7.19L20.53 6.81C20.2645 6.35154 19.8278 6.01717 19.316 5.88031C18.8042 5.74344 18.2589 5.81526 17.8 6.08L17.65 6.16C17.346 6.33554 17.0011 6.42795 16.65 6.42795C16.2989 6.42795 15.954 6.33554 15.65 6.16L15.22 5.91C14.9163 5.73464 14.664 5.48248 14.4885 5.17884C14.3129 4.87519 14.2204 4.53073 14.22 4.18V4C14.22 3.46957 14.0093 2.96086 13.6342 2.58579C13.2591 2.21071 12.7504 2 12.22 2Z" stroke="#555059" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#555059" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .mainSectionSettingsDialog
                            .mainSectionSettingsDialogTitleBox.flex.vCenter.between
                                .mainSectionSettingsDialogTitle Настройки
                                .mainSectionSettingsDialogClose.iconBtn(onclick="this.parentNode.parentNode.parentNode.classList.remove('active')")
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.3002 5.71001C18.2077 5.61731 18.0978 5.54376 17.9768 5.49358C17.8559 5.4434 17.7262 5.41757 17.5952 5.41757C17.4643 5.41757 17.3346 5.4434 17.2136 5.49358C17.0926 5.54376 16.9827 5.61731 16.8902 5.71001L12.0002 10.59L7.11022 5.70001C7.01764 5.60743 6.90773 5.53399 6.78677 5.48388C6.6658 5.43378 6.53615 5.40799 6.40522 5.40799C6.27429 5.40799 6.14464 5.43378 6.02368 5.48388C5.90272 5.53399 5.79281 5.60743 5.70022 5.70001C5.60764 5.79259 5.5342 5.9025 5.4841 6.02347C5.43399 6.14443 5.4082 6.27408 5.4082 6.40501C5.4082 6.53594 5.43399 6.66559 5.4841 6.78655C5.5342 6.90752 5.60764 7.01743 5.70022 7.11001L10.5902 12L5.70022 16.89C5.60764 16.9826 5.5342 17.0925 5.4841 17.2135C5.43399 17.3344 5.4082 17.4641 5.4082 17.595C5.4082 17.7259 5.43399 17.8556 5.4841 17.9766C5.5342 18.0975 5.60764 18.2074 5.70022 18.3C5.79281 18.3926 5.90272 18.466 6.02368 18.5161C6.14464 18.5662 6.27429 18.592 6.40522 18.592C6.53615 18.592 6.6658 18.5662 6.78677 18.5161C6.90773 18.466 7.01764 18.3926 7.11022 18.3L12.0002 13.41L16.8902 18.3C16.9828 18.3926 17.0927 18.466 17.2137 18.5161C17.3346 18.5662 17.4643 18.592 17.5952 18.592C17.7262 18.592 17.8558 18.5662 17.9768 18.5161C18.0977 18.466 18.2076 18.3926 18.3002 18.3C18.3928 18.2074 18.4662 18.0975 18.5163 17.9766C18.5665 17.8556 18.5922 17.7259 18.5922 17.595C18.5922 17.4641 18.5665 17.3344 18.5163 17.2135C18.4662 17.0925 18.3928 16.9826 18.3002 16.89L13.4102 12L18.3002 7.11001C18.6802 6.73001 18.6802 6.09001 18.3002 5.71001Z" fill="#555059"/>
                                    </svg>
                            .aeSubRow
                                .swith(@click="event.isQlikes=!event.isQlikes;changeEvent(event, 'isQlikes')" v-bind:class="{active:event.isQlikes}")
                                    .mainSectionSwithText.On Лайки включены
                                    .mainSectionSwithText.Off Лайки выключены
                                    .swithElem
                                        .swithElemDot
                                            .swithElemDotCenter
                            .aeSubRow
                                .swith(@click="event.isQDisLikes=!event.isQDisLikes;changeEvent(event, 'isQDisLikes')" v-bind:class="{active:event.isQDisLikes}")
                                    .mainSectionSwithText.On Дизайки включены
                                    .mainSectionSwithText.Off Дизайки выключены
                                    .swithElem
                                        .swithElemDot
                                            .swithElemDotCenter
                            .aeSubRow
                                .swith(@click="event.isQpreMod=!event.isQpreMod;changeEvent(event, 'isQpreMod')" v-bind:class="{active:event.isQpreMod}")
                                    .mainSectionSwithText.On Премодерация включена
                                    .mainSectionSwithText.Off Премодерация выключена
                                    .swithElem
                                        .swithElemDot
                                            .swithElemDotCenter
.eaRow
    .rowBody(v-if="q.length==0")
        .emptyPlaceholder.flex.center.vCenter.mt-3
            .mt-3(style="text-align: center;")
               <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path opacity="0.7" d="M66.4736 16.287C55.7351 8.7178 40.3877 9.33647 30.4591 17.7543C20.357 26.3144 18.9768 40.3057 27.2855 50.3222C35.1149 59.7583 49.2281 62.8681 60.9804 58.0008L61.6195 57.7244L73.6721 60.273L73.8787 60.3085L74.1818 60.3332L74.4931 60.3222L74.6143 60.3085L74.9173 60.2538L75.2066 60.1607L75.4821 60.0403L75.6914 59.9253L75.989 59.7145L76.2121 59.5119L76.4132 59.2847L76.5592 59.0794L76.7383 58.7646L76.854 58.4744L76.9394 58.1651L76.9752 57.9598L77 57.6587L76.989 57.3493L76.9752 57.2289L76.9201 56.9277L76.8595 56.7306L73.6914 47.2836L73.752 47.185C79.8403 36.9276 77.0826 24.212 67.11 16.7496L66.4764 16.2897L66.4736 16.287Z" fill="url(#paint0_linear_107_2295)"/>
               <g filter="url(#filter0_b_107_2295)">
               <path d="M13.5264 25.0909C24.2649 17.5217 39.6123 18.1404 49.5409 26.5582C59.643 35.1183 61.0232 49.1096 52.7145 59.1261C44.8851 68.5622 30.7719 71.672 19.0196 66.8048L18.3805 66.5283L6.32789 69.0769L6.12127 69.1125L5.81824 69.1371L5.50694 69.1262L5.38572 69.1125L5.08269 69.0577L4.79342 68.9646L4.51794 68.8442L4.30857 68.7292L4.01104 68.5184L3.78789 68.3159L3.58679 68.0886L3.44078 67.8833L3.26171 67.5685L3.14601 67.2783L3.06061 66.969L3.02479 66.7637L3 66.4626L3.01102 66.1532L3.02479 66.0328L3.07989 65.7317L3.1405 65.5346L6.3086 56.0875L6.248 55.9889C0.159724 45.7316 2.91735 33.0159 12.89 25.5535L13.5236 25.0936L13.5264 25.0909Z" fill="#AA69EB" fill-opacity="0.4"/>
               <path d="M49.2175 26.9396L49.2176 26.9396C59.1177 35.3286 60.4575 49.0084 52.3296 58.8069C44.6519 68.0602 30.7797 71.1322 19.2146 66.3443L18.579 66.0694L18.4328 66.0061L18.277 66.0391L6.2337 68.5857L6.05848 68.6159L5.80672 68.6364L5.54384 68.6271L5.45829 68.6175L5.20424 68.5716L4.9706 68.4964L4.73889 68.3951L4.57429 68.3047L4.32474 68.1279L4.14419 67.964L3.97884 67.7772L3.8629 67.6142L3.71338 67.3513L3.62065 67.1187L3.54901 66.8593L3.52125 66.7001L3.50073 66.4509L3.51001 66.1906L3.51965 66.1063L3.56644 65.8506L3.61657 65.6875L6.78266 56.2465L6.85701 56.0248L6.73451 55.8256L6.676 55.7304C0.729495 45.7082 3.40891 33.2747 13.1866 25.956L13.8173 25.4983L13.8486 25.4756L13.8487 25.4754C24.4022 18.061 39.4759 18.6803 49.2175 26.9396Z" stroke="#AA69EB" stroke-opacity="0.1"/>
               </g>
               <defs>
               <filter id="filter0_b_107_2295" x="-17" y="-0.196075" width="95.1367" height="89.3332" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
               <feFlood flood-opacity="0" result="BackgroundImageFix"/>
               <feGaussianBlur in="BackgroundImageFix" stdDeviation="10"/>
               <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_107_2295"/>
               <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_107_2295" result="shape"/>
               </filter>
               <linearGradient id="paint0_linear_107_2295" x1="72.3666" y1="13.902" x2="24.8423" y2="47.4427" gradientUnits="userSpaceOnUse">
               <stop stop-color="#C294FD"/>
               <stop offset="1" stop-color="#E7D5FF"/>
               </linearGradient>
               </defs>
               </svg>
                .text.mt-3 Пока вопросов не задано
    .rowBody(v-else)
        .rowHeader
            h3 Всего вопросов: {{q.length}}
        .qBtnGroup.flex.center.between.mt-2
            .qBtnGroupItem
                .btn( v-on:click="changeAllQ({key:'isMod', value:true})") Принять все
            .qBtnGroupItem.flex.right.vCenter
                .btn.white( v-on:click="changeAllQ({key:'isDeleted', value:true})") Удалить Все
        .qBox.scroll.mt-3
            .qItem.mb-3(v-for="item in q" :id="'q'+item.id")
                .qItemUser.mb-2 {{item.i}} {{item.f}}
                .qItemText.mb-2(v-html="urlify(item.text)")
                textarea.mainInput.w100.mb-2(placeholder="Ведите текст ответа" v-model="item.answer" v-on:change="changeQ(item, 'answer')")
                .qBtnGroup.flex.center.between
                    .qBtnGroupItem
                        .btn(v-if="item.isMod" v-on:click="item.isMod=!item.isMod;changeQ(item, 'isMod')") Принят
                        .btn.white(v-else v-on:click="item.isMod=!item.isMod;changeQ(item, 'isMod')") Скрыт
                    .qBtnGroupItem.flex.right.vCenter
                        .btn(v-if="item.isSpk" v-on:click="item.isSpk=!item.isSpk;changeQ(item, 'isSpk')") Спикеру
                        .btn.white(v-else v-on:click="item.isSpk=!item.isSpk;changeQ(item, 'isSpk')") Спикеру
                        .btn(v-if="item.isScreen" v-on:click="item.isScreen=!item.isScreen;changeQ(item, 'isScreen')") На экран
                        .btn.white(v-else v-on:click="item.isScreen=!item.isScreen;changeQ(item, 'isScreen')") На экран
                        .btn.white( v-on:click="deleteQ(item)") Удалить




