.eaRow
        .flex.beetwen.vCenter
            .eaTitleGroup.flex.between.vCenter
                div
                    .mainSectionTitle.flex.left.vCenter
                        div Голосования
                        .small(style='margin-top: 8px;') ,  всего: {{votes.length}}





