h3 Вопросы спикеру
.qBox.scroll
    .emptyPlaceholder.flex.center.vCenter.mt-3(v-if="q.length==0")
        .mt-3(style="text-align: center;")
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.7" d="M66.4736 16.287C55.7351 8.7178 40.3877 9.33647 30.4591 17.7543C20.357 26.3144 18.9768 40.3057 27.2855 50.3222C35.1149 59.7583 49.2281 62.8681 60.9804 58.0008L61.6195 57.7244L73.6721 60.273L73.8787 60.3085L74.1818 60.3332L74.4931 60.3222L74.6143 60.3085L74.9173 60.2538L75.2066 60.1607L75.4821 60.0403L75.6914 59.9253L75.989 59.7145L76.2121 59.5119L76.4132 59.2847L76.5592 59.0794L76.7383 58.7646L76.854 58.4744L76.9394 58.1651L76.9752 57.9598L77 57.6587L76.989 57.3493L76.9752 57.2289L76.9201 56.9277L76.8595 56.7306L73.6914 47.2836L73.752 47.185C79.8403 36.9276 77.0826 24.212 67.11 16.7496L66.4764 16.2897L66.4736 16.287Z" fill="url(#paint0_linear_107_2295)"/>
            <g filter="url(#filter0_b_107_2295)">
            <path d="M13.5264 25.0909C24.2649 17.5217 39.6123 18.1404 49.5409 26.5582C59.643 35.1183 61.0232 49.1096 52.7145 59.1261C44.8851 68.5622 30.7719 71.672 19.0196 66.8048L18.3805 66.5283L6.32789 69.0769L6.12127 69.1125L5.81824 69.1371L5.50694 69.1262L5.38572 69.1125L5.08269 69.0577L4.79342 68.9646L4.51794 68.8442L4.30857 68.7292L4.01104 68.5184L3.78789 68.3159L3.58679 68.0886L3.44078 67.8833L3.26171 67.5685L3.14601 67.2783L3.06061 66.969L3.02479 66.7637L3 66.4626L3.01102 66.1532L3.02479 66.0328L3.07989 65.7317L3.1405 65.5346L6.3086 56.0875L6.248 55.9889C0.159724 45.7316 2.91735 33.0159 12.89 25.5535L13.5236 25.0936L13.5264 25.0909Z" fill="#AA69EB" fill-opacity="0.4"/>
            <path d="M49.2175 26.9396L49.2176 26.9396C59.1177 35.3286 60.4575 49.0084 52.3296 58.8069C44.6519 68.0602 30.7797 71.1322 19.2146 66.3443L18.579 66.0694L18.4328 66.0061L18.277 66.0391L6.2337 68.5857L6.05848 68.6159L5.80672 68.6364L5.54384 68.6271L5.45829 68.6175L5.20424 68.5716L4.9706 68.4964L4.73889 68.3951L4.57429 68.3047L4.32474 68.1279L4.14419 67.964L3.97884 67.7772L3.8629 67.6142L3.71338 67.3513L3.62065 67.1187L3.54901 66.8593L3.52125 66.7001L3.50073 66.4509L3.51001 66.1906L3.51965 66.1063L3.56644 65.8506L3.61657 65.6875L6.78266 56.2465L6.85701 56.0248L6.73451 55.8256L6.676 55.7304C0.729495 45.7082 3.40891 33.2747 13.1866 25.956L13.8173 25.4983L13.8486 25.4756L13.8487 25.4754C24.4022 18.061 39.4759 18.6803 49.2175 26.9396Z" stroke="#AA69EB" stroke-opacity="0.1"/>
            </g>
            <defs>
            <filter id="filter0_b_107_2295" x="-17" y="-0.196075" width="95.1367" height="89.3332" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="10"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_107_2295"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_107_2295" result="shape"/>
            </filter>
            <linearGradient id="paint0_linear_107_2295" x1="72.3666" y1="13.902" x2="24.8423" y2="47.4427" gradientUnits="userSpaceOnUse">
            <stop stop-color="#C294FD"/>
            <stop offset="1" stop-color="#E7D5FF"/>
            </linearGradient>
            </defs>
            </svg>
            .text.mt-3 Пока вопросов не задано
    .qItem(v-for="item in q")
.qSendBox.mt-3
    input.mainInput.w100(placeholder="Ваше имя")
    textarea.mainInput.w100.mt-3(placeholder="Текст вопроса")
